
    body {
      margin: 0;
      padding: 0;
    }

    .header { /*css code to lock element header's proper position (position:sticky), as well as properly space its contents from the border, and improve its appearance (text-align and background-color*/
      position: sticky;
      top: 0;
      background-color: lightblue;
      padding: 20px;
      text-align: center;
      z-index: 100;
    }
    #home { /*css code to position the "home" button properly at the middle of the bottom part of the page, and style its appearance with "border", "background-color*/
  position: fixed;
  bottom: 10px;
  right: 12%;
  border: solid black;
  padding: 5px;
  background-color: lightblue;
}

    .header .logo { /*adjust the width and height of the header and logo elements, display:inline-block necessary for the width and height adjustment, aligned vertically and in the middle*/
  width: 200px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

    .header .title {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      margin: 0 20px;
    }

    .header .menu {
      display: inline-block;
    }

    .header .menu a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
    }

  a.About:hover,
  a.Index:hover {
  color: red; /* We Set the color red when hovering over the link */
}

.About, .Index {
    border-bottom: solid black;
  }

