
    body { /* we dont want anything special outside or inside the main element*/
      margin: 0;
      padding: 0;
    }

    .header { /*css code to lock element header's proper position (position:sticky), as well as properly space its contents from the border, and improve its appearance (text-align and background-color*/
      position: sticky;
      top: 0;
      background-color: lightblue;
      padding: 20px;
      text-align: center;
      z-index: 100; /* highest overlapping of all elements (100 is bit excessive but you got the point) */
    }
    #home { /*css code to position the "home" button properly at the bottom part of the page and have enough space to not hide anything, and style its appearance with "border", "background-color*/
  position: fixed;
  bottom: 10px;
  right: 12%; /* 12% is exactly the position we wanted it in order not to hide anything */
  border: solid black;
  padding: 5px;
  background-color: lightblue;
}

    .header .logo { /*adjust the width and height of the header and logo elements, display:inline-block necessary for the width and height adjustment, aligned vertically and in the middle*/
  width: 200px; /* for any device it will be 200 px */
  height: auto;
  display: inline-block; /* we preferred inline block because that's our preference in header */
  vertical-align: middle;
}

    .header .title {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      margin: 0 20px; /*  margin is 0 pixels on the top and bottom, and 20 pixels on the left and right */
    }

    .header .menu {
      display: inline-block; /* so they can be aligned as one next to the other the way they are */
    }

    .header .menu a { /* all the a elements of menu will have these specifications  */
      margin: 0 10px;
      text-decoration: none;
      color: #333;
    }

  a.About:hover,
  a.Index:hover {
  color: red; /* We Set the color red when hovering over the link */
}

.About, .Index {
    border-bottom: solid black;
  }

